@charset "UTF-8"; /* CSS Document */

body {
	background: #FFF;
	margin: 0;
	padding: 0;
}

body a{
	color: #000;
	text-decoration: underline;
}
.container{
	background-color: #FFF;
	border: 1px solid #115ba1;
	height: 90px;
	overflow: hidden;
	position: relative;
	width: 728px;

	/*Keeps Border from expanding div*/
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    
	/*If you are trying to hide absolute positioned elements make sure the container of those
	  absolute positioned elements is relatively positioned.*/	
	
}

/*ELEMENTS*/
.click {
	cursor: pointer;
	height: 90px;
	overflow: hidden;
	position: absolute;
	width: 728px;
}

.sprite-sheet {
	background-image: url('spritesheet.png');
	background-repeat: no-repeat;
	background-size: 728px 270px;
}

.img1 {
    background-position: 0 -90px;
    height: 90px;
	position: absolute;
	width: 561px;
}

.img2 {
	background-position: 0 -180px;
    height: 90px;
	position: absolute;
	width: 190px;
}

.pack-shot {
    height: 90px;
	position: absolute;
	width: 728px;
}

.stamp {
	background: url('hooked-on-veggies.png') no-repeat center;
	background-size: 300%;
    height: 90px;
    opacity: 0;
    position: absolute;
    width: 728px;
}

.endframe .stamp {
    background-position: 44% center;
	left: 38px;
}

.text1 {
	background-position: -190px -180px;
    height: 47px;
    left: 173px;
    opacity: 0;
    position: absolute;
    top: 26px;
    width: 299px;
}

.fresh-zucchini {
	background-position: -190px -248px;
    height: 16px;
    position: absolute;
    top: 25px;
    width: 113px;
}

.text2 {
	background-position: -561px -90px;
    height: 22px;
    left: 144px;
    opacity: 0;
    position: absolute;
    top: 37px;
    width: 137px;
}

.text3 {
	background-position: -534px -196px;
    height: 28px;
    left: 488px;
    opacity: 0;
    position: absolute;
    top: 18px;
    width: 193px;
}

.psst {
    background-position: -534px -180px;
    height: 11px;
    left: 488px;
    opacity: 0;
    position: absolute;
    top: 18px;
    width: 39px;
}

.logo {
	background-position: -676px -234px;
    height: 36px;
    left: 666px;
    position: absolute;
    top: 46px;
    width: 54px;

}
.cta-glow-container {
    background-image: url('glow.png');
    background-position: -106px 0px;
    background-repeat: no-repeat;
    background-size: 106px 100%;
    border-radius: 25px;
    height: 40px;
    left: 156px;
    overflow: hidden;
    position: absolute;
    top: 142px;
    width: 128px;
  }

.cta {
	background-position: -504px -230px;
    height: 40px;
    left: 484px;
    opacity: 0;
	position: absolute;
	top: 52px;
	width: 126px;
}

