@charset "UTF-8"; /* CSS Document */

body {
	background: #FFF;
	margin: 0;
	padding: 0;
}

body a{
	color: #000;
	text-decoration: underline;
}
.container{
	background-color: #FFF;
	border: 1px solid #115ba1;
	height: 600px;
	overflow: hidden;
	position: relative;
	width: 160px;

	/*Keeps Border from expanding div*/
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    
	/*If you are trying to hide absolute positioned elements make sure the container of those
	  absolute positioned elements is relatively positioned.*/	
	
}

/*ELEMENTS*/
.click {
	cursor: pointer;
	height: 600px;
	overflow: hidden;
	position: absolute;
	width: 160px;
}

.sprite-sheet {
	background-image: url('spritesheet.png');
	background-repeat: no-repeat;
	background-size: 480px 600px;
}

.img1 {
    background-position: -160px -148px;
    bottom: 0;
    height: 452px;
	position: absolute;
	width: 160px;
}

.img2 {
	background-position: -320px -309px;
    height: 291px;
	position: absolute;
    top: 152px;
	width: 160px;
}

.pack-shot {
    height: 600px;
	position: absolute;
	width: 160px;
}

.stamp {
	background: url('hooked-on-veggies.png') no-repeat center 144px;
	background-size: 300%;
    height: 600px;
    opacity: 0;
    position: absolute;
    width: 160px;
}

.endframe .stamp {
    opacity: 0;
}

.text1 {
	background-position: -320px 0;
    height: 86px;
    left: 12px;
    opacity: 0;
    position: absolute;
    top: 135px;
    width: 142px;
}

.fresh-carrots {
	background-position: -320px -152px;
    height: 14px;
    position: absolute;
    top: 49px;
    width: 117px;
}

.zucchini {
	background-position: -320px -178px;
    height: 14px;
    position: absolute;
    top: 74px;
    width: 58px;
}

.text2 {
	background-position: -320px -231px;
    height: 19px;
    left: 19px;
    opacity: 0;
    position: absolute;
    top: 125px;
    width: 118px;
}

.text3 {
	background-position: -320px -281px;
    height: 21px;
    left: 11px;
    opacity: 0;
    position: absolute;
    top: 458px;
    width: 137px;
}

.logo {
	background-position: -160px -60px;
    height: 51px;
    left: 41px;
    position: absolute;
    top: 20px;
    width: 77px;

}
.cta-glow-container {
    background-image: url('glow.png');
    background-position: -106px 0px;
    background-repeat: no-repeat;
    background-size: 106px 100%;
    border-radius: 25px;
    height: 40px;
    left: 156px;
    overflow: hidden;
    position: absolute;
    top: 142px;
    width: 128px;
}

.cta {
	background-position: -160px 0;
    height: 40px;
    left: 17px;
    opacity: 0;
	position: absolute;
	top: 500px;
	width: 126px;
}

