@charset "UTF-8"; /* CSS Document */

body {
	background: #FFF;
	margin: 0;
	padding: 0;
}

body a{
	color: #000;
	text-decoration: underline;
}
.container{
	background-color: #FFF;
	border: 1px solid #115ba1;
	height: 600px;
	overflow: hidden;
	position: relative;
	width: 160px;

	/*Keeps Border from expanding div*/
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    
	/*If you are trying to hide absolute positioned elements make sure the container of those
	  absolute positioned elements is relatively positioned.*/	
	
}

/*ELEMENTS*/
.click {
	cursor: pointer;
	height: 600px;
	overflow: hidden;
	position: absolute;
	width: 160px;
}

.sprite-sheet {
	background-image: url('spritesheet.png');
	background-repeat: no-repeat;
	background-size: 828px 316px;
}

.img1 {
    height: 600px;
	position: absolute;
	width: 160px;
}

.img2 {
	background-position: -300px 0;
    height: 600px;
	position: absolute;
	width: 160px;
}

.pack-shot {
	background-position: -600px 0;
    height: 188px;
    opacity: 0;
	position: absolute;
	top: 50px;
	width: 208px;
}

.stamp {
	background: url('hooked-on-veggies.png') no-repeat center;
	background-size: 300%;
    height: 250px;
    opacity: 0;
    position: absolute;
    width: 300px;
}

.endframe .stamp {
    height: 400px;
	left: 0px;
	top: -159px;
    width: 444px;
}

.text1 {
	background-position: 0 -250px;
    height: 67px;
    left: 13px;
    opacity: 0;
    position: absolute;
    top: 21px;
    width: 235px;
}

.fresh-carrots {
	background-position: -691px -275px;
    height: 15px;
    left: 91px;
    position: absolute;
    top: 25px;
    width: 137px;
}

.zucchini {
	background-position: -600px -300px;
    height: 16px;
    position: absolute;
    top: 50px;
    width: 67px;
}

.text2 {
	background-position: -300px -250px;
    height: 23px;
    left: 13px;
    opacity: 0;
    position: absolute;
    top: 46px;
    width: 137px;
}

.text3 {
	background-position: -476px -250px;
    height: 20px;
    left: 162px;
    opacity: 0;
    position: absolute;
    top: 110px;
    width: 125px;
}

.logo {
	background-position: -752px -192px;
    height: 37px;
    left: 235px;
    position: absolute;
    top: 206px;
    width: 55px;

}
.cta-glow-container {
    background-image: url('glow.png');
    background-position: -106px 0px;
    background-repeat: no-repeat;
    background-size: 106px 100%;
    border-radius: 25px;
    height: 40px;
    left: 156px;
    overflow: hidden;
    position: absolute;
    top: 142px;
    width: 128px;
  }

.cta {
	background-position: -601px -188px;
    height: 41px;
    left: 156px;
    opacity: 0;
	position: absolute;
	top: 142px;
	width: 127px;
}

